.form {
    display: flex;
    width: 100%;
    justify-content: center;
}

.form-inner {
    max-width: 800px;
    width: 100%;
}

.group-title {
    margin-bottom: 10px;
}

.btn {
    margin-top: 20px;
}